<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Weather Temperature</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="js/weather.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/weather.css" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 center-block">
				<div>
					<form id="search-form" class="form-inline">
						<div class="form-group">
							<p class="form-control-static">Name of the city</p>
						</div>
						<div class="form-group">
							<input class="form-control" id="city" placeholder="City" />
						<button type="submit" class="btn btn-primary">Search</button>
						</div>
						
					</form>
				</div>
				<div id="result"></div>
			</div>
		</div>
	</div>
</body>
</html>